[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]
Werkzeug = "==0.15.3"
requests = "==2.18.4"
psycopg2 = "==2.7.3.1"
Flask = "==0.12.2"
flask_restplus = "==0.10.1"
Flask_RBAC = "==0.2.1"
uwsgi = "==2.0.15"


[requires]
python_version = "3.6"